{deps, [
	{cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "1.0.0"}}}
	,{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.1.1"}}, [raw]}
%% I'm done.  I can't seem to find a json library that doesn't either involve
%% copying some git repo from 6 years ago or compiling native C using a badly ported
%% make file.
%%	,{jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", "HEAD"}}
]}.

{escript_incl_apps, [jsx]}.

%% Oh for F-s sake.
{post_hooks, [{'get-deps', "powershell -executionPolicy Unrestricted -File compile_raws.ps1"}]}.

%% {erl_opts, [debug_info, warn_missing_spec, warnings_as_errors]}.
{erl_opts, [debug_info, warn_missing_spec]}.

{sub_dirs, [
	"rel"
]}.
