{deps, [
	{cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "1.0.0"}}}
	,{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.1.1"}}}
	,{ej, ".*", {git, "https://github.com/seth/ej.git", master}}
]}.

%% {erl_opts, [debug_info, warn_missing_spec, warnings_as_errors]}.
{erl_opts, [debug_info]}.

{sub_dirs, [
	"rel"
]}.
